Client_Folder/
client_main.buiild/
client_main.dist/
client_main.build/
client_main.onefile-build/
deamon_main.build/
deamon_main.dist/
deamon_main.onefile-build
XDAG.zip
ZEPH.zip
test/
deamon_main.bin
client_main.bin
